body{
    background: whitesmoke !important;
}

h2 {
    margin-top: 40px;
    /* text-align: center; */
}
.h2 {
    background-color: rgb(221, 236, 250);
    background-image: linear-gradient(62deg, rgb(205, 220, 235) 0%, rgb(236, 227, 245) 100%);
    padding: 0 5% 0 40px;
    border-radius: 3px 40px 10px 3px;
    color: midnightblue;
}
.left-border {
    background-color: rgb(19, 19, 87);
    padding-left: 20px;
}
.card {
    padding: 0px;
    box-shadow: 0px 2px 8px 4px rgba(2, 28, 66, 0.25);
}
.row ul span {
    float: right;
}
.card-body span{
    float: right;
}
.price {
    float: left;
    font-size: 2rem;
    font-weight: 700;


}


.ornek {
    position: absolute;
    bottom: 10px;




}